<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Register API</title>
  </head>

  <body style="background-color: rgb(17, 86, 102);">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 640px;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;"
    >
      <h1 style="text-align: center;">Thanks for use the app!</h1>
      <a
        href="https://github.com/DanielSantos01/product-register-api"
        target="_blank"
        style="text-decoration: none; color: #bdbdbd;"
      >
        See the API Implementation
      </a>
    </div>
  </body>
</html>